<div class="page-header add-new">
  <%= link_to new_quote_path, class: 'btn btn-primary but-wide' do %>
    <span class="add-quote"></span>
    Add New Quote
  <% end %>
</div>
<div
</div>

<div class="table-responsive{-sm|-md|-lg|-xl} mid-table">
  <table class="table table-hover qtable">
    <thead>
      <tr>
        <th class="">Quote</th>
        <th class="">Author</th>
        <th class="">Category</th>
        <th class="dropdown sortdrop">
            <button class=" btn btn-default dropdown-toggle sortbox" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span> Sort by </span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu sort-choice" aria-labelledby="dropdownMenu1">
              <li><%= link_to "Quote", class: "sort-choice", :sort => "quote" %></li>
              <li><%= link_to "Author", class: "sort-choice", :sort => "author" %></li>
              <li><%= link_to "Category", class: "sort-choice", :sort => "category" %></li>
            </ul>
        </th>
      </tr>
    </thead>

    <tbody class="table-body qlink">
      <%- @quotes.each do |quote| %>
      <tr>
        <td>
          <div class="truncate">
            <%= link_to quote do %>
            "<%= quote.quote %>"
            <% end %>
          </div>
        </td>
        <td>
          <%= link_to quote do %>
            <%= quote.author %>
          <% end %>
        </td>
        <td>
          <%= link_to quote do %>
            <%= quote.category %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_quote_path(quote) do %>
            <span class="glyphicon glyphicon-pencil edit changes" aria-hidden="true"></span>
          <% end %>
          <%= link_to quote, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-remove delete changes" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% if @quotes.blank? %>
    <h4 class="message">There are no quotes containing the term <%= params[:search] %>.</h4>
  <% end %>
  <section class="day-quote">
    <div class="daily-quote">
      <script type="text/javascript" src="https://www.brainyquote.com/link/quotebr.js">
      </script>
      <small><i><a href="https://www.brainyquote.com/quotes_of_the_day.html" target="_blank" rel="nofollow">more Quotes</a></i>
      </small>
    </div>
    <div class="photo-day">
      <img src="blank.jpg" alt="">
      <!-- <img class="hidden-xs" src="https://source.unsplash.com/random/vertical/?nature,water"> -->
    </div>
  </section>
</div>


<div class="numbers">
  <%= paginate @quotes %>
</div>
