<!-- <div class="page-header add-new">
  <%= link_to new_quote_path, class: 'btn btn-primary but-wide' do %>
    <span class="add-quote"></span>
    Add New Quote
  <% end %>
</div> -->
<% if @quotes.blank? %>
<h4 class="message search-error">There are no quotes containing the term <%= params[:search] %>.</h4>
<% end %>

<div class="table-responsive{-sm|-md|-lg|-xl} mid-table">
  <table class="table table-hover qtable">
    <thead>
      <tr>
          <th class="quote"><%= sortable "quote" %></th>
          <th class="author"><%= sortable "author"%></th>
      </tr>
    </thead>

    <tbody class="table-body qlink">
      <%- @quotes.each do |quote| %>
      <tr>
        <td>
          <div class="truncate quote">
            <%= link_to quote do %>
            "<%= quote.quote %>"
            <% end %>
          </div>
        </td>
        <td>
          <div class="author">
          <%= link_to quote do %>
            <%= quote.author %>
          <% end %>
        </div>
        </td>
        <!--<td>-->
          <!--<div class="category">-->
          <!--<%= link_to quote do %>-->
            <!--<%= quote.category %>-->
          <!--<% end %>-->
        <!--</div>-->
        <!--</td>-->
        <!--<td>-->
          <!--<div class="adjust">-->
          <!--<%= link_to edit_quote_path(quote) do %>-->
            <!--<span class="glyphicon glyphicon-pencil edit changes" aria-hidden="true"></span>-->
          <!--<% end %>-->
            <!--<%= link_to quote, method: :delete, data: { confirm: 'Are you sure?' } do %>-->
            <!--<span class="glyphicon glyphicon-remove delete changes" aria-hidden="true"></span>-->
          <!--<% end %>-->
        <!--</div>-->
        <!--</td>-->
      </tr>
      <% end %>
    </tbody>
  </table>
  <section class="day-quote">
    <div class="daily-quote">
      <script type="text/javascript" src="https://www.brainyquote.com/link/quotebr.js">
      </script>
      <small><i><a href="https://www.brainyquote.com/quotes_of_the_day.html" target="_blank" rel="nofollow">more Quotes</a></i>
      </small>
    </div>
    <div class="photo-day">
    </div>
  </section>
</div>


<div class="numbers">
  <%= paginate @quotes, window: 1 %>
</div>
