<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>
    <%= Rails.application.class.parent_name %>
  </title>



  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid nav-color nav-wide">
        <div class="navbar-header qheader">
          <%= link_to quotes_path do %>
            <span class="navbar-brand" id="title">QuoteKeeper</span>
          <% end %>
          <%= link_to new_quote_path do %>
            <span class="navbar-brand" id="new-quote">New Quote</span>
          <% end %>
            <%= form_tag(quotes_path, :method => "get") do %>
            <div class="searchme">
              <div class="input-group add-on">
                <%= text_field_tag :search, params[:search], class: "form-control sbox", placeholder: "Search" %>
              <div class="input-group-btn">
                <button class="btn btn-default sbox"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </div>
            <% end %>
        </div>
      </div>
    </nav>
  <div class="">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg %>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>

  <!-- <%= submit_tag "Search", :name => nil %> -->
